@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
	<h2>Welcome</h2>
	<p></p>
	<ul>
		<li><a href="/Customers">Customers (Table Storage)</a></li>
		<li><a href="/Blobs">Media (Blob Storage)</a></li>
		<li><a href="/Files">Documents (File Share)</a></li>
		<li><a href="/Queues">Transactions (Queue)</a></li>
	</ul>
</section>
